.site-footer {
    background-color: $ash;
    color: $glass;
    font-family: $josie;
    padding: 40px;
    font-size: 11px;
    text-align: center;
    line-height: 1.1rem;
}

.sponsors-footer {
    border-bottom: 1px solid $robin-egg;
    padding-bottom: 20px;
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    background-color: $charcoal;

    h2 {
        font-size: 24px;
        color: $blush;
    }

    ul {
        padding: 0;

        li {
            list-style-type: none;
            display: inline-block;
            margin: 0 10px;
            font-size: 18px;
        }
    }
}

.row {
    width: 100%;
    background-color: $charcoal;

    @include grid-media($tablet) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.block {
    text-align: center;
    font-family: $josie;

    @include grid-media($tablet) {
        float: left;
        width: 50%;
    }

    @include grid-media($tablet-landscape) {

    }

    @include grid-media($desktop) {
        width: 25%;
        font-size: 18px;
    }

    &.text {
        background-color: $charcoal;
        color: $robin-egg;
    }
}

.pic-1 {
    padding-bottom: percentage(300 / 350);
    height: 0;
    overflow: hidden;
    position: relative;

    img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.block.text {
    div {
        padding: 30px;
        line-height: 28px;
    }

    &.light {
        background-color: $robin-egg;
        color: $charcoal;
    }
}

.block.text.date {
    font-family: $standard;
    font-size: 36px;
    line-height: 18px;

    @include grid-media($tablet-landscape) {
        hr + p {
            line-height: 36px;
        }
    }

    div {
        padding-top: 50px;

        @include grid-media($desktop) {
            padding-top: 30px;
        }
    }

    hr {
        background-color: #ccc;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
