.main-navigation {
    @include grid-container;
    background-color: #292629;

    ul {
        @include grid-container;
		list-style: none;

		@include grid-media($tablet-landscape) {
			display: inline-block;
		}

		ul {
			background-color: $charcoal;
			padding-top: 15px;
			padding-right: 29px;
			padding-left: 29px;
			margin-left: -29px;
			opacity: 0;
    		transition: opacity .2s ease-in;

			@include grid-media($tablet-landscape) {
				float: left;
				position: absolute;
				top: 100%;
				left: -999em;
				z-index: 99999;
				padding-top: 33px;
				padding-right: 29px;
				padding-bottom: 33px;
				padding-left: 29px;
				margin-left: -29px;
				width: 250px;
			}

			ul {
				@include grid-media($tablet-landscape) {
					left: -999em;
					top: 0;
				}
			}

			li {
				+ li {
					padding-top: 15px;
				}

				&:hover > ul,
				&.focus > ul {
					@include grid-media($tablet-landscape) {
						left: 100%;
						width: 250px;
					}
				}
			}

			a {
				@include grid-media($tablet-landscape) {
					width: 200px;
				}
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
			opacity: 1;
		}
	}

	li {
		text-align: left;
		position: relative;

		@include grid-media($tablet-landscape) {
    		float: left;
		}
	}
	
	.sub-menu {
		li {
			display: block;
			margin-left: 12px;
			
			@include grid-media($tablet-landscape) {
	    		float: none;
	    		margin-left: 0;
			}
		}
	}

	a {
		text-decoration: none;

		&:hover {
			color: #fff;
		}
	}

	.nav-menu {
		display: none;

		&[aria-expanded="true"] {
			display: inline-block;
		}

		@include grid-media($tablet-landscape) {
			display: inline-block;
		}
		
		> li {
			+ li {
				position: relative;
				
				&::before {
					@include grid-media($tablet-landscape) {
						position: absolute;
						display: inline-block;
						content: '';
						width: 1px;
						height: 100%;
						left: -20px;
						border-left: 1px solid $ash;
					}
				}
			}
		}
	}
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.admin-bar {
	.sticky {
		padding-top: 32px;
	}
}

.sticky-active.site-content {
  padding-top: 90px;
  
  @include grid-media($tablet-landscape) {
	padding-top: 67px;
  }
}

.nav-menu {
	@include grid-media($tablet-landscape) {
		margin-top: 16px;
		margin-bottom: 16px;
	}
}

.menu-primary-container {
	padding-bottom: 20px;

	@include grid-media($tablet-landscape) {
		padding-bottom: 0;
	}
}

.menu-toggle {
	border: 3px solid $robin-egg;
	padding: 10px 20px;
	color: $robin-egg;
	background-color: transparent;
	margin-top: 20px;

	@include grid-media($tablet-landscape) {
		display: none;
	}
}

.main-navigation {
    @include grid-container;
    border-top: 1px solid #5C777B;
    text-align: center;

    ul {
        padding: 0;
    }

    li {
        margin: 0 20px;
        font-size: 18px;
        margin-bottom: 20px;

        @include grid-media($tablet-landscape) {
            display: inline-block;
            font-size: 21px;
            margin-bottom: 0;
        }
    }

    a {
        text-decoration: none;
    }
}
