.date-container {
    font-family: $standard;
    text-align: center;
    font-size: 16px;
    margin: 30px 20px;
    
    @include grid-media($tablet) {
        font-size: 22px;
    }
    
    @include grid-media($desktop) {
        font-size: 30px;
    }
    
    &__divider {
        display: none;
        
        @include grid-media($tablet-landscape) {
            display: inline;
        }
    }
    
    &__date {
        display: block;
        
        @include grid-media($tablet-landscape) {
            display: inline-block;
        }
    }
    
    &__icon {
        display: inline-block;
        height: 28px;
        width: 28px;
        vertical-align: middle;
        opacity: .8;
        
        @include grid-media($tablet-landscape) {
            height: 48px;
            width: 48px;
        }
        
        @include grid-media($desktop) {
            height: 58px;
            width: 58px;
        }
        
        &--chron-1 {
            margin-right: 10px;
        }
        
        &--chron-2 {
            margin-left: 10px;
        }
    }
}

.wp-custom-header iframe,
.wp-custom-header img,
.wp-custom-header video {
	display: block;
	height: auto;
	max-width: 100%;
}

img.alignleft {
    float: left;
    margin-right: 20px;
}

.site-title {
    font-size: 48px;
    font-family: $standard;
    margin-top: 0;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 0;

    @include grid-media($tablet-landscape) {
        font-size: 72px;
    }

    a {
        text-decoration: none;
    }
}

.site-description {
    font-family: $standard;
    font-style: italic;
    margin-top: 0;
    margin-left: 75px;
    margin-right: 75px;
    font-size: 22px;
    font-weight: normal;

    @include grid-media($tablet-landscape) {
        font-size: 36px;
    }
}

#wp-a11y-speak-polite {
    visibility: hidden;
    font-size: 0;
}

.video-container {
    width: 100%;
    position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;

    iframe {
        position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;
    }
}

.intro__text {
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 46px;

    @include grid-media($tablet-landscape) {
        font-size: 36px;
        line-height: 50px;
    }
}

.home {
    .ul1 {
        line-height: 30px;

        li {
            margin-bottom: 20px;
        }
    }
}

body {
    font-family: $belle;
    background-color: $robin-egg;
    color: $charcoal;
    font-size: 20px;

    @include grid-media($tablet-landscape) {
        font-size: 24px;
    }
}

.site-main {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 240px;

    @include grid-media($tablet) {
        width: 80%;
    }

    @include grid-media($tablet-landscape) {
        width: 60%;
    }

    p {
        line-height: 32px;
    }
}

.row {
    width: 100%;
    background-color: $charcoal;

    @include grid-media($tablet) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

hr {
    height: 1px;
    background-color: $charcoal;
    opacity: .5;
    border: 0;
    margin: 4rem 0;
}

h1,
h2,
h3,
h4 {
    font-family: $standard;
    font-style: italic;
    font-weight: normal;
}

h5,
h6 {
    font-family: $josie;
    text-transform: uppercase;
    font-weight: 700;
}

h1.page-title,
h1.entry-title {
    position: relative;
    font-family: $standard;
    font-style: italic;

    span {
        position: relative;
        background-color: $robin-egg;
        z-index: 1;
        padding-right: 25px;
    }

    &::after {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $charcoal;
        content: '';
    }
}

.home.entry-header {
    margin-top: 226px;
}

.entry-header {
    margin-top: 156px;
}

.post-navigation {
    @include grid-container;
    margin-top: 100px;
    
    .nav-previous,
    .nav-next {
        width: 50%;
        float: left;
    }
    
    .nav-next {
        text-align: right;
    }
}

.blog {
    .entry-header {
        margin-top: 0;
    }
    
    .page-title {
        margin-top: 156px;
    }
    
    .post {
        + .post {
            margin-top: 60px;
            padding-bottom: 30px;
            border-top: 1px solid $charcoal;
        }
    }
}

.big-flourish-container {
    display: block;
    width: 202px;
    height: 53px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    
    @include grid-media($tablet-landscape) {
        width: 404px;
        height: 105px;    
    }
}

.block {
    text-align: center;
    font-family: $josie;
    font-size: 18px;

    @include grid-media($tablet) {
        width: 50%;
    }

    @include grid-media($desktop) {
        width: 25%;
    }

    &.text {
        background-color: $charcoal;
        color: $robin-egg;
    }
}

.pic-1 {
    padding-bottom: percentage(300 / 350);
    height: 0;
    overflow: hidden;
    position: relative;

    img {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

a {
    color: $mint;
    
    &:hover {
        color: $glass;
    }
}

.block.text {
    div {
        padding: 30px;
        line-height: 28px;
    }

    &.light {
        background-color: $robin-egg;
        color: $charcoal;
    }
}

.block.text.date {
    font-family: $standard;
    font-size: 36px;
    line-height: 18px;

    div {
        padding-top: 50px;
    }

    hr {
        background-color: #ccc;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
