$charcoal: #292629;
$ash: #333740;
$robin-egg: #758C90;
$glass: #9BA8A5;
$mint: #ADD6CC;
$blush: #ded2cd;
$dandelion: #E3C98B;
$dark-dandelion: #a78e53;
$vitae: #a70c0c;

//fonts
$standard: 'Old Standard TT', serif;
$josie: 'Josefin Sans', sans-serif;
$belle: 'Bellefair', serif;
